<mat-card class="shadow-none">
  <mat-card-content>
    <div>
      <span fxFlex></span>
      <button mat-raised-button color="primary" (click)="ajouterBilan()"> <mat-icon>add</mat-icon>NEW </button>
    </div>

    <ngx-datatable *ngIf='columns'
      class="material striped selection-cell cell-selection"
      [rows]="r"
      [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [scrollbarV]="true"
      [scrollbarH]="true"
      [selected]="selected"
      [selectionType]="'single'"
      (select)='onSelectRow($event)'
    >
    <ngx-datatable-column [frozenLeft]="true" name="Date"  prop="date" [width]="250">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"  let-row="row">
          {{ value | date : 'yyyy-MM-dd HH:mm' }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngFor="let col of columns"
    [name]="col.name"
    [width]="100"
    [prop]="col.prop"></ngx-datatable-column>

    </ngx-datatable>
  </mat-card-content> 
   <hr> 
  <mat-card-content>
    <!-- <h4 class="mt-0 mb-1">Courbe</h4> -->
      <div *ngIf="results" style="width: 900px; height: 400px;">
        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="results"
          xAxis="true" yAxis="true" roundDomains="true" legend="true" (select)="onSelect($event)">
        </ngx-charts-line-chart>
      </div>
      <br><br>
  </mat-card-content>
</mat-card>