
<mat-card>
  <mat-card-title> PATIENTS
    <br>
      <mat-form-field>
          <mat-select placeholder="Filter pations" [(ngModel)]="Currentpations" (ngModelChange)="pationViewManager(Currentpations)">
            <mat-option  [value]="1">
              all pation
            </mat-option>
            <mat-option  [value]="2">
              waited
            </mat-option>
            <mat-option  [value]="3">
              greffed
            </mat-option>
          </mat-select>
        </mat-form-field>
  </mat-card-title>
  <mat-card-content>

    <div class="example-container mat-elevation-z8">

      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let patient"> {{patient.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
          <mat-cell *matCellDef="let patient">
            {{patient.firstName}} {{patient.lastName }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dateDeNaissance">
          <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
          <mat-cell *matCellDef="let patient"> {{ patientService.getDate(patient.dateDeNaissance) }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sexe">
          <mat-header-cell *matHeaderCellDef> Genre </mat-header-cell>
          <mat-cell *matCellDef="let patient"> {{patient.sexe}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dateDeGreffe">
          <mat-header-cell *matHeaderCellDef> Date de greffe </mat-header-cell>
          <mat-cell *matCellDef="let patient"> {{ patient.dateDeGreffe | date: 'yyyy-MM-dd HH:mm'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="postGreffe">
          <mat-header-cell *matHeaderCellDef> Post greffe </mat-header-cell>
          <mat-cell *matCellDef="let patient">
            <span class="rouge">   {{ patientService.getJour(patient.dateDeGreffe) }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let patient">
            <a mat-raised-button color="primary" [routerLink]="['/patient/patient-item/'+patient.id]">Voir </a>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>


  </mat-card-content>
  <hr>
  <mat-card-footer></mat-card-footer>
</mat-card>