<div class="wrapper">
  <div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
      <app-patient-card *ngIf="switch && switchInfor && informations" [patient]="patient" [lastInformation]="lastInformation" (updatePatientForm)="switch=false"
        (addInforForm)="switchInfor=false" (afficherInforForm)="informations=false">
      </app-patient-card>
      <app-edit-patient *ngIf="!switch" [patient]="patient" [patientId]="patientId" (annulerPatientForm)="switch=true"
        (updateForm)="switch=true">
      </app-edit-patient>
      <app-information-form *ngIf="!switchInfor" (annulerInformationForm)="switchInfor=true"></app-information-form>
      <app-information *ngIf="!informations" [informations]="patient.informations" (return)="informations=true">
      </app-information>
    </div>
    <div fxFlex.gt-sm="100" fxFlex="100">
      <div fxLayout="column">
        <mat-card>
          <mat-tab-group>
            <mat-tab>
              <ng-template matTabLabel>Chat</ng-template>
              <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex="65">
                  <h1>Clinique</h1>
                  <app-chat [messages]="cliniques" [patientId]="patientId" [index]="0"></app-chat>
                </div>
                <div fxFlex="35">
                  <h1>instructions</h1>
                  <app-chat [messages]="instructions" [patientId]="patientId" [index]="1"></app-chat>
                </div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template matTabLabel>Bio</ng-template>
              <mat-tab-group>
                <mat-tab>
                  <ng-template matTabLabel>Chimie</ng-template>
                  <mat-card-content>
                    <app-bilans *ngIf="switchbilan && switchBilanUp" [bilans]="patient.bilans" (ajoutBilanForm)="ajoutBilanForm($event)" (updateBilanForm)="updateBilan($event)"></app-bilans>
                    <app-bilan-from *ngIf="!switchbilan || !switchBilanUp" [bilan]="bilan" (annulerForm)="switchbilan=true; switchbilanUp=true" (submitSuccess)="switchbilan=true; switchbilanUp=true"></app-bilan-from>
                  </mat-card-content>
                </mat-tab>
                <mat-tab>
                  <ng-template matTabLabel>Hémathologie</ng-template>
                </mat-tab>
              </mat-tab-group>
            </mat-tab>
            <mat-tab>
              <mat-card-content>
                <ng-template matTabLabel>Photos</ng-template>
                <app-uploads *ngIf="switchUpload" [uploads]="patient.uploads" (uploadForm)="switchUpload=false"></app-uploads>

                <app-upload-form *ngIf="!switchUpload" (annulerUploadForm)="switchUpload=true"></app-upload-form>
              </mat-card-content>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>
  </div>
</div>
