<div class="wrapper">
  <div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
      <app-patient-card *ngIf="switch && switchInfor && informations" [patient]="patient" [lastInformation]="lastInformation" (updatePatientForm)="switch=false"
        (addInforForm)="switchInfor=false" (afficherInforForm)="informations=false">
      </app-patient-card>
      <app-edit-patient *ngIf="!switch" [patient]="patient" [patientId]="patientId" (annulerPatientForm)="switch=true"
        (updateForm)="switch=true">
      </app-edit-patient>
      <app-information-form *ngIf="!switchInfor" (annulerInformationForm)="switchInfor=true" (submitSuccess)="switchInfor=true"></app-information-form>
      <app-information *ngIf="!informations" [informations]="patient.informations" (return)="informations=true">
      </app-information>
    </div>
    <div fxFlex.gt-sm="100" fxFlex="100">
      <div fxLayout="column">
        <mat-card>
          <mat-tab-group>
            <mat-tab>
              <ng-template matTabLabel>Chat</ng-template>
              <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex="65">
                  <h1>Clinique</h1>
                  <app-chat [messages]="cliniques" [patientId]="patientId" [index]="0"></app-chat>
                </div>
                <div fxFlex="35">
                  <h1>Instructions</h1>
                  <app-chat [messages]="instructions" [patientId]="patientId" [index]="1"></app-chat>
                </div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template matTabLabel>Bio</ng-template>
              <mat-tab-group>
                <mat-tab>
                  <ng-template matTabLabel>Chimie</ng-template>
                  <mat-card-content>
                    <app-bilans *ngIf="switchbilan && switchBilanUp" [bilans]="patient.bilans" (ajoutBilanForm)="ajoutBilanForm($event)" (updateBilanForm)="updateBilan($event)"></app-bilans>
                    <app-bilan-from *ngIf="!switchbilan || !switchBilanUp" [bilan]="bilan" (annulerForm)="switchBilanUp=true; switchbilan=true" (submitSuccess)="switchbilan=true; switchBilanUp=true"></app-bilan-from>
                  </mat-card-content>
                </mat-tab>
                <mat-tab>
                  <ng-template matTabLabel>Hématologie</ng-template>
                  <mat-card-content>
                    <app-hematologies *ngIf="switchHematologie && switchHematologieUp" [hematologies]="patient.hematologies" (ajoutHematologieForm)="ajoutHematologieForm($event)" (updateHematologie)="updateHematologie($event)"></app-hematologies>
                    <app-hematologie-form *ngIf="!switchHematologie || !switchHematologieUp" [hematologie]="hematologie" (annulerForm)="switchHematologieUp=true; switchHematologie=true" (submitSuccess)="switchHematologie=true; switchHematologieUp=true"></app-hematologie-form>
                  </mat-card-content>
                </mat-tab>
              </mat-tab-group>
            </mat-tab>
            <mat-tab>
                <ng-template matTabLabel>Photos</ng-template>
                <mat-tab-group>
                  <mat-tab>
                    <ng-template matTabLabel>Bacterologie</ng-template>
                    <mat-card-content>
                      <app-uploads *ngIf="switchUpload" [uploads]="bacterologie" [index]="0" (uploadForm)="switchUpload=false"></app-uploads>
                      <app-upload-form *ngIf="!switchUpload" (annulerUploadForm)="switchUpload=true" (submitSuccess)="switchUpload=true"></app-upload-form>
                    </mat-card-content>
                  </mat-tab>
                  <mat-tab>
                    <ng-template matTabLabel>Virologie</ng-template>
                    <mat-card-content>
                      <app-uploads [uploads]="virologie" [index]="1"></app-uploads>
                    </mat-card-content>
                  </mat-tab>
                  <mat-tab>
                    <ng-template matTabLabel>Parasitologie</ng-template>
                    <mat-card-content>
                      <app-uploads [uploads]="parasitologie" [index]="2"></app-uploads>
                    </mat-card-content>
                  </mat-tab>
                  <mat-tab>
                    <ng-template matTabLabel>Fluid Corporels</ng-template>
                    <mat-card-content>
                      <app-uploads [uploads]="corporels" [index]="3"></app-uploads>
                    </mat-card-content>
                  </mat-tab>
                </mat-tab-group>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>
  </div>
</div>
