<mat-card class="shadow-none">
  <h2>Liste des Informations:</h2>
  <mat-card-content>
    <div>
      <span fxFlex></span>
      <button mat-raised-button color="primary" (click)="retourner()">
        <mat-icon>keyboard_return</mat-icon>RETOUR </button>
    </div>
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date Time</mat-header-cell>
        <mat-cell *matCellDef="let information"> {{information.date | date: 'yyyy-MM-dd HH:mm' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Temp">
        <mat-header-cell *matHeaderCellDef> Temp </mat-header-cell>
        <mat-cell *matCellDef="let information">
          {{information.Temp }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="FC">
        <mat-header-cell *matHeaderCellDef> FC </mat-header-cell>
        <mat-cell *matCellDef="let information"> {{ information.FC}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="FR">
        <mat-header-cell *matHeaderCellDef> FR </mat-header-cell>
        <mat-cell *matCellDef="let information"> {{information.FR}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="PA">
        <mat-header-cell *matHeaderCellDef> PA </mat-header-cell>
        <mat-cell *matCellDef="let information"> {{ information.PA }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="SaO2">
        <mat-header-cell *matHeaderCellDef> SaO2 </mat-header-cell>
        <mat-cell *matCellDef="let information">
          {{ information.SaO2 }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
  <hr>
</mat-card>