<mat-card>
  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="60">
        <h1 class="ma-0"> {{patient.firstName}}
          <b>{{patient.lastName}}</b>
        </h1>
        <br>
        <p>
          <b>Sexe: </b>{{patient.sexe}}</p>
        <p>
          <b>Age: </b>{{ patient.dateDeNaissance | age }}</p>
        <p>
          <b>Date de la greffe: </b>
          {{patient.dateDeGreffe | date:'yyyy-MM-dd HH:mm'}}
        </p>

        <button mat-raised-button (click)="updatePatient()" color="primary" class="ml-xs mr-xs">MAJ</button>
      </div>
      <div fxFlex="40">
        <span fxFlex></span>
        <div class="rouge">
          {{ patient.dateDeGreffe | greffe }}
        </div>
      </div>
    </div>
  </mat-card-content>
  <hr>
  <mat-card-content>
    <div fxLayout="row" class="text-xs-center">
      <div fxFlex="14" *ngIf="lastInformation" >
            <h3 class="ma-0">
              <b>date= {{ lastInformation.date | date: 'yyyy-MM-dd HH:mm' }}</b>
            </h3>
          </div>
      <div fxFlex="14" *ngIf="lastInformation">
        <h3 class="ma-0">
          <b>Temp= {{ lastInformation.Temp }}</b>
        </h3>
      </div>
      <div fxFlex="14" *ngIf="lastInformation">
        <h3 class="ma-0">
          <b>FC= {{ lastInformation.FC }}</b>
        </h3>
      </div>
      <div fxFlex="14" *ngIf="lastInformation">
        <h3 class="ma-0">
          <b>FR= {{ lastInformation.FR }}</b>
        </h3>
      </div>

      <div fxFlex="14" *ngIf="lastInformation">
        <h3 class="ma-0">
          <b>PA= {{ lastInformation.PA }}</b>
        </h3>
      </div>
      <div fxFlex="14" *ngIf="lastInformation">
        <h3 class="ma-0">
          <b>SaO2= {{ lastInformation.SaO2 }}</b>
        </h3>
      </div>
      
      <div fxFlex="14"> 
        <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
          <span>Historique</span>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="ajouterInformation()">
            <mat-icon>add</mat-icon>
            <span>Information</span>
          </button>
          <button mat-menu-item (click)="afficherInformations()">
            <mat-icon>view_list</mat-icon>
            <span>Informations</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-card-content>
  <hr>
</mat-card>